<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="../static/css/styles.css" rel="stylesheet">
    <title>Edit Post</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            margin-top: 100px;
            margin-bottom: 80px;
            font-size: 50px;
        }

        body {
            max-width: 1000px;
            margin: auto;
        }

        form {
            padding-top: 20px;
        }

        .radio-section {
            margin-top: 20px;
        }

        .btn-success {
            display: flex;
            margin-top: 20px;
        }

        .links {
            text-align: end;
        }

        .links .btn a {
            color: #fff;
            text-decoration: none;
        }
    </style>
</head>
<!-- NAVIGATION BAR -->
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/forum">The Forum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Welcome,</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/forum">All Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ's</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Developer Tools
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="https://developer.chrome.com/docs/devtools/">Chrome
                                    DevTools</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="https://developer.mozilla.org/en-US/">MDN</a></li>
                            <li><a class="dropdown-item" href="https://getbootstrap.com/" dropdown-item">Bootstrap</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a href="/users/logout" class="btn-primary">Logout</a>
            </div>
        </div>
    </div>
</nav>
<!-- END OF NAVIGATION BAR -->

<body>
    <!-- ==================POST add SECTION=================== -->
    <div class="headers">
        <div class="card"
            style="padding: 1rem; color:#fff; text-shadow: 1px 1px black; background-color:rgba(51, 49, 49, 0.499); box-shadow: 1px 1px #cdcdcd;">
            <h1>Editing: {{this_post.name}}</h1>
        </div>
        <div class="links">
            <h5 style="padding-top: 1rem;">Welcome {{logged_user.first_name}} {{logged_user.last_name}},</h5>
            <div class="links">
                <button class="btn btn-dark"><a href="/forum">Back to The Forum</a></button>
                <button class="btn btn-dark"><a href="/users/logout">Logout</a></button>
            </div>
            <hr class="light">
        </div>
        {% with messages = get_flashed_messages() %}
        <!-- declare a variable called messages -->
        {% if messages %}
        <!-- check if there are any messages -->
        {% for message in messages %}
        <!-- loop through the messages -->
        <p>{{message}}</p> <!-- display each message in a paragraph tag -->
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <!-- start of main section -->
    <form action="/forum/{{this_post.id}}/update" method="post">
        <div class="main-section">

            <!-- start of input section -->
            <div class="input-section">
                <!-- name input -->
                <div class="col-auto">
                    <label for="autoSizingInput">Name:</label>
                    <input type="text" class="form-control" id="autoSizingInput" name="name" value="{{this_post.name}}">
                </div>

                <div class="col-auto">
                    <label for="autoSizingInput">Location:</label>
                    <input type="text" class="form-control" id="autoSizingInput" name="location"
                        value="{{this_post.location}}">
                </div>


                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        name="description">{{this_post.description}}</textarea>
                </div>
            </div>
            <!-- end of input section -->
            <!-- =====================sumbission button============================== -->
            <input type="submit" value="Update" class="btn btn-success">
        </div>
        <!-- end of main section -->
        </div>
    </form>
    <!-- ===================POST add SECTION=================== -->
    <!-- javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>