<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- new -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <!-- end new -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <title>The Trvl Plnr. Forum</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .links {
            text-align: end;
            margin-right: 20px;
        }

        /* this will center your entire website */
        body {
            max-width: 1000px;
            margin: auto;
            margin-top: 80px;
        }

        h1 {
            text-align: center;
            margin-top: 100px;
            margin-bottom: 80px;
            font-size: 50px;
            background-color: rgba(16, 15, 15, 0.386);
            padding: 20px;
        }

        table {
            background-color: rgba(246, 246, 246, 0.628);
            width: 100%;
        }

        table,
        th,
        td {
            border: 1px solid white;
        }

        th {
            background-color: rgba(200, 199, 199, 0.754);
            padding: 10px 50px 10px 10px;
            height: 30px;
        }

        td {
            background-color: rgba(239, 238, 238, 0.726);
            padding: 10px 50px 10px 10px;
        }
    </style>
</head>
<!-- NAVIGATION BAR -->
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/forum">The Trvl Plnr. Forum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Welcome,</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/weather">Weather</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ's</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Developer Tools
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="https://developer.chrome.com/docs/devtools/">Chrome
                                    DevTools</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="https://developer.mozilla.org/en-US/">MDN</a></li>
                            <li><a class="dropdown-item" href="https://getbootstrap.com/" dropdown-item">Bootstrap</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a href="/users/logout" class="btn-primary">Logout</a>
            </div>
        </div>
    </div>
</nav>
<!-- END OF NAVIGATION BAR -->

<body>
    <!-- ===================WELCOME SECTION=================== -->
    <h1>Welcome {{logged_user.first_name}} {{logged_user.last_name}},</h1>
    <h2>All Posts</h2>
    <h6> A place to talk about your adventures, suggest new places, or share your travel itinerary.</h6>
    <div class="links">
        <a href="/forum/new">+ Add a post</a> |
        <a href="/users/logout">Log out</a>
    </div>
    <div class="table">
        <table>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Posted By</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Actions</th>
            </tr>

            {% for posts in all_posts %}
            <tr>
                <td>{{posts.name}}</td>
                <td>{{posts.location}}</td>
                <td>{{posts.owner.first_name}} {{posts.owner.last_name}}</td>
                <td>{{posts.created_at}}</td>
                <td>{{posts.updated_at}}</td>
                <td>
                    <a href="/forum/{{posts.id}}">view </a>|
                    <!-- this will not allow other users to change edit page -->
                    {% if posts.user_id == session['user_id'] %}
                    <a href="/forum/edit/{{posts.id}}">edit </a>|
                    <a href="/forum/{{posts.id}}/delete">delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- ===================END OF WELCOME SECTION=================== -->
    <footer class="small bg-dark text-white">
        <div class="container py-4">
            <ul class="list-inline mb-0 text-center">
                <li class="list-inline-item">&copy; 2022 Trvl Plnr., Inc.</li>
                <li class="list-inline-item">All rights reserved.</li>
                <li class="list-inline-item"><a href="#">Terms of use and privacy policy</a>.</li>
            </ul>
        </div>
    </footer>
    <!-- javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>