<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>
    <!-- end new -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="../static/css/styles.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/forum">The Trvl Plnr.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-bg-dark" tabindex="-1" id="navbarResponsive">
                <ul class="navbar-nav ml-auto active">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#aboutme">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials">Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#travelers">The Trvlrs.</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#connect">Connect</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Guides
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="https://developer.chrome.com/docs/devtools/">Chrome
                                    DevTools</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="https://developer.mozilla.org/en-US/">MDN</a></li>
                            <li><a class="dropdown-item" href="https://getbootstrap.com/" dropdown-item">Bootstrap</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a href="/" class="btn btn-outline-light">Register</a>
            </div>
        </div>
        </div>
    </nav>

    <!-- Page Header-->
    <div class="page-header mb-4">
        <h1 class="page-heading">Profile</h1>
    </div>
    <section>
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-profile mb-4">
                    <div class="card-header"
                        style="background-image: url(https://therichpost.com/wp-content/uploads/2021/05/bootstrap5-carousel-slider-img1.jpg);">
                    </div>
                    <div class="card-body text-center"><img class="card-profile-img"
                            src="https://therichpost.com/wp-content/uploads/2021/03/avatar2.png" alt="Jassa Rich">
                        <h3 class="mb-3">Jassa Rich</h3>
                        <p class="mb-4">Full Stack Developer</p>
                        <button class="btn btn-outline-dark btn-sm"><span class="fab fa-twitter"></span> Follow</button>
                    </div>
                </div>

                <!--- Footer -->
                <footer class="container-fluid padding bg-dark">
                    <div class="row text-center">
                        <div class="col-md-4">
                            <h1>Trvl Plnr.</h1>
                            <hr class="light">
                            <p>thecodingsim@gmail.com</p>
                            <p>1800 a really cool place</p>
                            <p>CA, US, 0000</p>
                        </div>
                        <div class="col-md-4">
                            <hr class="light">
                            <h5>Quick links</h5>
                            <hr class="light">
                            <p><a href="#">Guides</a></p>
                            <p><a href="#">Trvler Spotlight</a></p>
                            <p><a href="#">Connect</a></p>
                            <p><a href="#">Upcoming Events</a></p>
                        </div>
                        <div class="col-md-4">
                            <hr class="light">
                            <h5>Places to go:</h5>
                            <hr class="light">
                            <p><a href="#">Paris</a></p>
                            <p><a href="#">Iceland</a></p>
                            <p><a href="#">United States</a></p>
                            <p><a href="#">Asia</a></p>
                            <p><a href="#">See more..</a></p>
                        </div>
                    </div>
                </footer>
                <!-- end of footer -->
                <footer class="small bg-dark text-white">
                    <div class="container py-4">
                        <ul class="list-inline mb-0 text-center">
                            <li class="list-inline-item">&copy; 2022 Trvl Plnr., Inc.</li>
                            <li class="list-inline-item">All rights reserved.</li>
                            <li class="list-inline-item"><a href="#">Terms of use and privacy policy</a>.</li>
                        </ul>
                    </div>
                </footer>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
                    crossorigin="anonymous"></script>
</body>

</html>